weather-app{
width:600px;
margin: 0 auto;
padding: 20px;

}
.container-wrapper{
border:2px solid lightgoldenrodyellow;
border-radius: 5px;
margin: 40px 40px;
padding: 30px 30px;
line-height: 5px;
text-align: center;
}

body{
background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
font-family: Arial, Helvetica, sans-serif;
font-weight: 200;
color:aliceblue;
text-align:center;
}
h1 {
color:yellow;
font-size:40px;
text-align: center;
margin: 10px auto;
}
h2{
color:aquamarine;
font-size:20px;
text-align: center;
}
h3{
color:aquamarine;
font-size:18px;
text-align: center;   
}
.row{
color:aliceblue;
font-size:15px;
text-align:center;
font-weight:bold;
line-height: 5px;
}
img{
max-width: 10%;
margin: 0 auto;
padding: 10px 10px;
display:block;
}