weather-app {
    width: 600px;
    margin: 0 auto;
    padding: 20px;

}

.container-wrapper {
    max-width: 800px;
    border: 2px solid lightcyan;
    border-radius: 5px;
    margin: 0 auto;
    padding: 15px 15px;
    line-height: 5px;
    text-align: center;
    
}

body {
    background: linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: aliceblue;
    text-align: center;
}

h1 {
    color: lightcyan;
    font-size: 40px;
    text-align: center;
    margin: 10px auto;
    padding: 20px 20px;
    text-transform: capitalize;
    font-weight: bolder;
}

h2 {
    color: lightgray;
    font-size: 20px;
    text-align: center;
}

h3, h4{
    color: lightgray;
    font-size: 18px;
    text-align: center;
}

.row {
    color: lightgray;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    line-height: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin:0 auto;
}

img {
    
    margin: 0 auto;
    
    display: block;
}

footer {
    padding-top: 10px;
}

.col-3 {
 padding: 0 auto;
 font-size: 20px;
 margin: 0 auto;
 line-height: 20px;

}

.tempSelect.active {
   color:black;
   text-decoration: none;
   cursor: default; 
}